body {background: black;}

#canvas {
/* color used for border in pink #ff62b1 */
  width:100%;
  background:black;
  
}

.flex {
  display:flex;
  align-items:center;
  height:100vh;
  justify-content: center;

}

#subtitle{
  color:#ff62b1;
  text-align: center;
  font: 50px Codystar;
  margin-bottom:0px;
}

#title{ 
  margin-top:100px;
  color:white;
  text-align: center;
}